/*******************************
The Fonts
*******************************/
*{
    margin:0;
    padding:0;
}
@font-face{
    font-family:'carbon';
    src:url("../frontend_fonts/CARBONBL.TTF");
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'HelveticaNLTStd';
    src:url("../frontend_fonts/HelveticaNLTStd.ttf");
    font-weight:normal;
    font-style:normal;
}

.contenedor{
    position: relative;
    max-width: 607px;
    min-width: 300px;
    height: 100%;
    padding: 20px 0px;
    background-image: url(http://test.adcentral.com/frontend_images/bg_popup.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body{
    height: 100% !important;
    overflow: hidden !important;
}

h2,input{
    font-family: 'carbon';
    color: #ffffff;
    outline: none !important;
}

.titulo{
    margin: 50px auto 45px auto;
    max-width: 85%;
    text-align: center;
}
    .titulo h2{
        font-size: 36px;
    }

.texto,.boton_registrarse{
    text-align: center;
}
.texto span{
    font-family: 'carbon';
    color: #ffffff;
    font-size: 24px;
}

.comentario{
    text-align: center;
    margin: 25px auto;
}
.comentario span{
    font-family: 'HelveticaNLTStd';
    color: #ffffff;
    font-size: 20px;
}

.boton{
    background: url(../frontend_images/btn1.png) no-repeat;
    background-size: 100% 100%;
    border: none;
    width: 170px;
    height: 35px;
    font-size: 24px;
    text-align: center;
    margin: 15px auto 35px auto;
}